@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 auto;
  justify-content: center;
}
.container > div {
  flex: 1 1 400px; /* Flex-grow: 1, Flex-shrink: 1, Flex-basis: 400px */
  max-width: 50%;  /* Limits columns to 50% of the container width */
  padding: 16px;
  text-align: center;
  border-radius: 8px;
  box-sizing: border-box;
}
